In [52]:
import pandas as pd

In [54]:
# Read two files
df1 = pd.read_csv("movies.csv")
df2 = pd.read_csv("ratings.csv")

In [56]:
# Meeeeeerging
merged_df = pd.merge(df1, df2, on='movieId', how='outer')

In [58]:
merged_df.to_csv('merged_file.csv', index=False)
merged_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1.0,4.0,9.649827e+08
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5.0,4.0,8.474350e+08
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7.0,4.5,1.106636e+09
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,15.0,2.5,1.510578e+09
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,17.0,4.5,1.305696e+09